/target
/dist
**/*.rs.bk

# DuckDB extension build artifacts
duckdb-extension/target
duckdb-extension/build
duckdb-extension/configure/venv
duckdb-extension/configure/extension_version.txt
duckdb-extension/configure/platform.txt

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Ignore terraform tests
.terraform*

*.html