/target
/dist
**/*.rs.bk

# DuckDB extension build artifacts
/build
/configure/venv
/configure/extension_version.txt
/configure/platform.txt

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Test HTML files
*.html
